// COLORS
$primary-color: #224C6F;
$secondary-color: #5CC3FC;

// FONTS
$primary-font: 'Lato', 'Karla', sans-serif;
$secondary-font: "Karla', sans-serif";

$dark-grey: #333333; // For Body Text

$dark-blue: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.1rem;
$big-font-size: 3.5rem;
$mid-font-size: 2.5rem;

